body {
    background: #AEFF7B;
    color: #5E2AE8;
    min-width: 400px;
}
form {
    width: 350px;
    margin: auto;
    margin-top: 60px;
}

input {
    width: 100%;
    margin: auto;
    color: #5E2AE8; 
    font-weight: bold;
    font-size: 16px;
}

input[type="password"] {
    background-color : #d1d1d1; 

}
.submit {
    margin-top: 20px;
    background: #E8AD2A; 
    height: 40px;
}
label {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}


